*{margin: 0; box-sizing: border-box;}
.t{padding: 40px;}
.v1{ 
    width: 500px;
    height: 250px;
    margin: auto;
    border-top: 10px solid red;
    border-bottom: 10px solid green;
    border-left: 10px solid orange;
    border-right: 10px solid orange;
    box-shadow: 2px  8px 19px;
    background-image: url(https://w7.pngwing.com/pngs/171/714/png-transparent-four-white-playing-cards-flame-icon-flames-cards-orange-business-card-visiting-card-thumbnail.png);
}
.v1 h1{text-align: center; color: black;font-family:Georgia, 'Times New Roman', Times, serif}
